.tool-header[data-v-38d46e9b] {
	text-align: center;
	padding: 5px 0;
	font-size: 1.25rem;
	font-weight: 700;
	color: #fff;
	background-color: #9e7d56
}
.calculate-tool-wrap[data-v-38d46e9b] {
	font-family: DFKai-sb;
	margin: 30px 0 30px 0
}
hr[data-v-38d46e9b] {
	height: 2px;
	background-color: #bebebe
}
select[data-v-38d46e9b] {
	border: 1px solid #121212;
	border-radius: 5px;
	padding: 1px;
	font-weight: 600;
	color: #121212
}
.submit-area[data-v-38d46e9b] {
	padding: 35px 10px;
	font-size: 1.15rem;
	font-weight: 600;
	color: #423d38
}
.submit-btn[data-v-38d46e9b] {
	border: none;
	font-size: 1rem;
	padding: 5px 35px;
	background-color: #e63c3c;
	border-radius: 5px;
	color: #f0f0f0;
	margin-left: 20px;
	cursor: pointer
}
.submit-btn[data-v-38d46e9b]: hover {
	background-color: #c81414
}
.remark-col[data-v-38d46e9b] {
	height: 50px
}
.calculate-discription {
	text-align: center;
	font-family: DFKai-sb
}
.discription-header {
	padding: 5px 0;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	background-color: #9e7d56
}
.discription-text {
	width: 100%;
	color: #8f6f4a;
	font-weight: bolder;
	font-size: 1.15rem;
	background-color: #f0e3d4
}
.discription-text ul {
	list-style: none;
	margin: 0
}
.discription-text li {
	padding: 8px 0;
	letter-spacing: 1px
}
.current-time {
	color: #e65555
}
.remark-wrap[data-v-d2152e18] {
	padding: 15px 30px;
	width: 100%;
	border: 1px solid #4b4b4b;
	box-sizing: border-box;
	color: #423d38;
	font-weight: 700;
	font-family: DFKai-sb;
	font-size: .85rem
}
.remark-wrap h5[data-v-d2152e18] {
	padding: 10px 0;
	font-size: 1.25rem
}
.remark-wrap li[data-v-d2152e18] {
	padding: 6px 0;
	font-size: 1.25rem;
	letter-spacing: 2px
}
.remark-wrap a[data-v-d2152e18] {
	text-decoration: none;
	color: none;
	cursor: none
}
.calculate-banner {
	width: 100vw;
	height: 25vw;
	background-image: url(../img/banner.8148d0f8.png);
	background-position: 50%;
	background-size: cover
}
.main-content {
	box-sizing: border-box;
	width: 100vw;
	padding: 50px 120px;
	background-color: #fff9f1
}
.btn-wrap {
	margin-top: 20px;
	text-align: center
}
.home-btn {
	width: 200px;
	padding: 8px;
	border-radius: 5px;
	background-color: #9e7d56;
	color: #fff;
	font-weight: bolder;
	cursor: pointer
}
@media screen and (max-width: 1050px) {
	.main-content {
	padding: 15px 0
}
}#TodayPrice {
	text-align: center;
	font-family: math;
	font-weight: 700;
	height: 100%;
	overflow: hidden;
	background-image: url(../img/TodayPrice.c1987780.jpg);
	color: #5d422d;
	background-size: cover
}
#TodayPrice .topHeader {
	position: absolute;
	top: 1.2em;
	right: 2em;
	font-size: 2.5rem
}
#TodayPrice .topHeader .blank1 {
	margin-left: 20px
}
#TodayPrice section {
	position: fixed;
	top: 20vh;
	left: 15vw
}
#TodayPrice h1 {
	font-size: 8em;
	margin: 50px 0;
	margin-left: 1em
}
#TodayPrice .dipwarp {
	margin: 20px 30px
}
#TodayPrice .content,#TodayPrice .inptitle {
	font-size: 60px
}
#TodayPrice .inptitle {
	margin-bottom: -10px
}
#TodayPrice .content {
	width: 27vw;
	height: 9vh;
	text-align: left;
	padding: 16px 40px;
	background-color: #fff;
	border: 2px solid #5d422d;
	border-radius: 15px
}
#TodayPrice .content .red {
	position: relative;
	left: 7vw
}
#TodayPrice .remark {
	margin-top: 10px;
	font-size: 2em
}
#TodayPrice .tp-text {
	width: 100%;
	color: #8f6f4a;
	font-weight: bolder;
	font-size: 1.15rem;
	background-color: #f0e3d4
}
#TodayPrice .tp-text ul {
	list-style: none;
	margin: 0
}
#TodayPrice .tp-text li {
	padding: 8px 0;
	letter-spacing: 1px
}
@media(max-width: 680px) {
	#TodayPrice .topHeader {
	padding: 0;
	font-size: 15px
}
#TodayPrice .topHeader .blank1 {
	margin-left: 5px
}
#TodayPrice h1 {
	font-size: 35px;
	margin: 0
}
}#TodayPrice .current-time {
	color: #e65555
}
#UpdatePrice {
	width: 100vw;
	height: 100vh
}
#UpdatePrice header {
	position: fixed;
	top: 15px;
	left: 85px
}
#UpdatePrice .inpWrap {
	margin: 0 auto;
	margin-top: 60px;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #000;
	text-align: center;
	width: 350px
}
#UpdatePrice .inpWrap input {
	margin-top: 5px;
	text-align: center;
	border-radius: 3px;
	width: 94%
}
#UpdatePrice .update-col {
	font-size: 1.5rem;
	text-align: left;
	width: 350px;
	margin: 5px 0
}
#UpdatePrice .form-group {
	border: 1px solid #eff2f7;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin-left: -15px;
	margin-right: -15px;
	width: 27vw;
	height: 9vh;
	text-align: left
}
#UpdatePrice .btn1 {
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	background-color: #121212;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	margin-top: 10px
}
#UpdatePrice p.version {
	position: absolute;
	bottom: 15px;
	right: 15px
}
body {
	background: linear-gradient(180deg,#f0e3d4,#9e7d56)
}
.input-col,.input-grpup {
	display: flex
}
.input-col {
	flex: 1;
	padding: 20px 2px;
	flex-direction: column;
	text-align: center;
	position: relative
}
.input-title {
	padding: 5px 0;
	color: #121212;
	font-weight: 600;
	font-size: 1.1rem;
	height: 50%
}
.input-content {
	font-weight: 700;
	width: 70%;
	height: 30px;
	border-radius: 5px;
	color: #121212;
	border: 1px solid #121212;
	text-align: center;
	font-size: 1.25rem
}
.display-content-warp {
	display: flex;
	justify-content: center
}
.display-content {
	font-weight: 700;
	width: 92%;
	height: 20px;
	border-radius: 5px;
	padding: 5px 1px;
	color: #121212;
	border: 1px solid #121212;
	text-align: center;
	font-size: 1.25rem;
	background-color: #fff
}
