@charset "UTF-8";
/* 
#TodayPrice2 {

	.left {
		position: relative;
		height: 260px;
		width: 61%;
		max-width: 870px;
		margin-right: 20px;
		background: url('../assets/section01.jpg') no-repeat center;
	}

	section {
		position: fixed;
    top: 10vh;
    left: 3vw;
	}
	h1 {
		font-size: 4vw;
		margin: 6vh 0;
		margin-left: 1vw;
    display: inline-block;
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 1.5px;
    color: #bb8f28;
	}

	.ulWrap{
		li {
				display: inline-block;
				padding: 0 20px;
		}
		h3 {
			font-weight: 200;
			font-size: 18px;
			letter-spacing: 1.8px;
			color: #766f5f;
		}
		.num {
			font-size: 28px;
			letter-spacing: 0px;
			margin-right: 5px;
			color: #000;
		}
	}
}
 */

#TodayPrice {
  text-align: center;
	font-family: math;
	font-weight: bold;
	height: 100%;
	overflow: hidden;
	color: #5d422d;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-image: url('../assets/TodayPrice.jpg');

	/* background-repeat: no-repeat; */
	/* background-position: center top; */
	/* background-attachment: fixed; */

	.topHeader {
    position: absolute;
    top: 4vh;
    right: 4vw;
    font-size: 2vw;
		.blank1 {
			margin-left: 1vw;
		}
	}
	section {
		position: fixed;
    top: 20vh;
    left: 15vw;
	}
	h1 {
		font-size: 6.2vw;
		margin: 6vh 0;
		margin-left: 1vw;
	}
	.dipwarp {
		margin: 20px 30px;
	}
	.inptitle,.content {
		font-size: 3vw;
	}
	.inptitle {
		margin-bottom: -10px;
	}
	.content {
    width: 27vw;
    height: 9vh;

    padding: 16px 40px;
    padding: 2vh 3vw;
		/* padding-left: 40px; */
		background-color: #fff;
		border: 2px solid #5d422d;
		border-radius: 15px;
		text-align: left;
		display: inline-flex;
		align-items: center;
	}
	.content .red {
    position: relative;
		margin: 0 auto;
	}
	.remark {
		margin-top: 10px;
    font-size: 2em;
    font-size: 1.5vw;
    /* font-family: math; */
	}

	/* 針對手機 */
	@media (max-width: 450px) {
		background-image: url('../assets/TodayPrice2.jpg');
 
		.topHeader {
			right: 0;
			top: 30vh;
			position: relative;
			display: flex;
			justify-content: center;
			font-size: 4.5vw;

			.blank1 {
				margin-left: 2vw;
			}
		}
		section {
			top: 28vh;
			/* left: .2vw; */
			left: 0;

			/* position: relative; */
			/* margin: 0 auto; */
		}
		h1 {
			font-size: 15vw;
			margin-bottom: 3vh;
		}
		.dipwarp {
			margin: 2vh 5vw;
		}
		.inptitle,.content {
			font-size: 6vw;
		}
		.inptitle {
			margin-bottom: 0;
		}
		.content {
			width: 32vw;
			height: 5vh;
			padding: 1vh 3vw;
		}
		.flex {
				margin-left: 1vw;
		}
		.remark {
			/* margin-top: 10px; */
			font-size: 4vw;
		}
	}

	/* 針對手機-横屏 */
	@media screen and (max-height: 500px) and (orientation: landscape) {
		section {
			top: 10vh;
		}
	}

	.current-time {
		color: rgb(230, 85, 85);
	}
}


#UpdatePrice {
	width: 100vw;
	height: 120vh;
	/* background: linear-gradient(to bottom, #f0e3d4, #9e7d56); */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
/* 
		position: absolute;
		left: 15%;
		top: 15%;
 */

	header {
		display: flex;
		justify-content: center;
	}

	.inpWrap {
		margin: 0 auto;
		margin-top: 2vh;
		box-sizing: border-box;
		border-radius: 5px;
		padding: 10px;

		border: 1px solid black;
		text-align: center;
		width: 350px;

		input {
			margin-top: 5px;
			text-align: center;
			border-radius: 3px;
			width: 94%;
		}
	}

	.update-col {
		font-size: 1.5rem;
		text-align: left;
		width: 350px;
		margin: 5px 0;
	}

	.form-group {
			border: 1px solid #eff2f7;
			padding-bottom: 15px;
			margin-bottom: 15px;
			margin-left: -15px;
			margin-right: -15px;

			width: 27vw;
			height: 9vh;
			text-align: left;
	}

	.btn1 {
		padding: 10px 30px;
		border: none;
		border-radius: 5px;
		font-size: 1rem;
		background-color: #121212;
		cursor: pointer;
		color: white;
		text-decoration: none;
		margin-top: 10px;
	}

	p.version {
		position:absolute;
		bottom: 15px;
		right: 15px;
	}

}

/* ------------------------------------------> */
 body {
	/* font-family: 'Noto Sans TC',sans-serif !important; */
	background: linear-gradient(to bottom, #f0e3d4, #e9b983);
}

/* 
#app {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.page-wrapper{
  height: 100%;
  overflow: auto;
}

.form-control {
	border-radius: 30px;
}
 */
/* 
footer {
	position:absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
 */
.input-grpup {
  display: flex;
}

.input-col {
  flex: 1;
  display: flex;
  padding: 20px 2px;
  flex-direction: column;
  text-align: center;

  position: relative;
}

.input-title {
  padding: 5px 0;
  // color: #9e7d56;
  color: #121212;
  font-weight: 600;
  font-size: 1.1rem;
  height: 50%;
}

.input-content {
  font-weight: bold;
  width: 70%;
  height: 30px;
  border-radius: 5px;
  // color: #9e7d56;
  color: #121212;

  // border: 1px solid #9e7d56;
  border: 1px solid #121212;
  text-align: center;
  font-size: 1.25rem;
}

.display-content-warp {
  display: flex;
  justify-content: center;
}
.display-content {
  font-weight: bold;
  width: 92%;
  height: 20px;
  border-radius: 5px;
  padding: 5px 1px;
  color: #121212;
  border: 1px solid #121212;
  // border: 1px solid #9e7d56;
  text-align: center;
  font-size: 1.25rem;
  background-color: #fff;
}

.memo-text {
  color: #121212;
  font-weight: 600;
  font-size: 0.9rem;
}


/* ///////////////////////////////////////
	以下是 套類別(.addClass) 專屬
/////////////////////////////////////// */
.pointer {
	cursor: pointer;
}
.clearboth {
	clear: both;
}
.w150 {
	width: 150px;
}
.w200 {
	width: 200px;
}
.w250 {
	width: 250px;
}
.w300 {
	width: 300px;
}
.w350 {
	width: 350px;
}
.w400 {
	width: 400px;
}
.w450 {
	width: 450px;
}
.red {
	color: red;
}
.blue {
	color: blue;
}
div.flex {
	display: flex;
	align-items: center;
	margin: 0 auto;
}
button.red {
	color: white;
	background-color: red !important;
}
.hide {
	display: none !important;
}
