@charset "UTF-8";


#NationalPrice {
	background-size:cover;
  // width: 100%;
  // height:800px ;
	//background-image: url('../assets/modal14.jpg');
  /* background: url('../assets/section02.png') no-repeat center; */
}

.marqueeArea .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.marqueeArea .left {
  position:  static;
  height: 100%;
  width: 105%;
  max-width: 90%;
  //margin-right: 20px;
  margin-top:0;
  font-size: 100%;
  //background: url('../assets/section01.jpg') no-repeat center;
}
.marqueeArea .left .marqueeBackBox {
  overflow: hidden;
  padding-top: 1%;
  padding-left: 5%;
}

.marqueeArea .left .marqueeBackBox li {  
  display: inline-block;
  padding: 0 2%; 
     
}


.marqueeArea .left .marqueeBackBox li:first-child {
  padding-left: 4%;
}

.marqueeArea .left .marqueeBackBox li:not(:first-child) {
  margin-left: 2%;
  margin-bottom:5%;
} 
.marqueeArea .left .marqueeBackBox h4 {
  font-weight: 800;
  font-size:22px;
  letter-spacing: 1px;
  color: #493300;
  margin-left:10%; 
  margin-bottom:2%;
  margin-top:3%;
  
  
}
.marqueeArea .left .marqueeBackBox h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  color: #493300;
  margin-left:2%; 
  margin-bottom:1%;
  
}
.marqueeArea .left .marqueeBackBox h5 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #493300;
  margin-left:10%;
  margin-top:1%;
  
}

.marqueeArea .left .marqueeBackBox .marTitle {
  margin-bottom: 1%;
  text-align:center ;
 
}

.marqueeArea .left .marqueeBackBox .marTitle h2 {
  
  
  display: inline-block;
  margin-top:4%;  
  font-size:40px;
  font-weight: 900;
  letter-spacing:5px;
  color: #533e0e;
}

.marqueeArea .left .marqueeBackBox .date {
  display: inline-block;
  font-size: 25px;
  color: #bb8f28;
}

// .marqueeArea .left .marqueeBackBox .ellipsis {
//   font-weight: 300;
//   letter-spacing: 1.8px;
//   color: #422e03;
 
// }

.marqueeArea .left .marqueeBackBox  .num {
  text-decoration-line: underline;
  text-decoration-color: #0d0a01;
  text-underline-offset:6px;
  font-size: 26px;
  letter-spacing: 0px;
  margin-left: 4px;
  text-align: center;
  color: #000;
  
}

.marqueeArea .left .marqueeBackBox .moreBtn button{
  position: relative;
  //bottom: 40px;
  margin: bottom 7%;
  // font-size:28px;
  margin-left:18%;
  display: inline-block;
  font-weight: 500;
  color: #443004;
  background-color: #886104; /* Green */
border: none;
color: white;
padding: 10px 8px  10px  8px;
border-radius: 20px 20px 20px 20px;
text-align: center;
text-decoration: none;
font-size: 16px;
//padding-bottom: %;
}

.marqueeArea .left .marqueeBackBox .moreBtn:hover {
  color: #443004;
}

.marqueeArea .left .marqueeBackBox .moreBtn:hover:after {
  padding-left: 30px;
}

.marqueeArea .left .marqueeBackBox .moreBtn:after {
  content: '';
  padding-left: 20px;
  display: inline-block;
  width: 8px;
  height: 20px;
  vertical-align: top;
  /* background: url('../assets/btn-arrow.jpg') no-repeat center; */
}



@media (max-width: 980px) {
  
 
  .marqueeArea .left {
    margin-top: 1%;
    height: auto;
    background-size: cover;
  }
  .marqueeArea .left .marqueeBackBox {
     
    padding-top:1%;
    padding-bottom: 0;
  }
  .marqueeArea .left .marqueeBackBox .moreBtn button{
    position: relative;
    //bottom: 40px;
    margin-bottom:4%;
    font-size:28px;
    margin-left:16%;
    display: inline-block;
    font-weight: 500;
    color: #443004;
    background-color: #875f3b; /* Green */
  border: none;
  color: white;
  padding: 6px 15px;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  }
  

  .marqueeArea .left .marqueeBackBox li:first-child {
    padding-left: 10%;
  }
  .marqueeArea .left .marqueeBackBox li {
    padding: 0;
    
    
  }
  .marqueeArea .left .marqueeBackBox li:not(:first-child) {
    margin-left: 5%;
    margin-bottom:6%;
  } 
  
  .marqueeArea .left .marqueeBackBox h4 {
    font-weight: 800;
    font-size:65%;
    letter-spacing: 1px;
    color: #493300;
    margin-left:8%; 
    margin-bottom:1%;
    
    
  }
  .marqueeArea .left .marqueeBackBox h3 {
    display: inline-block;
    font-weight: 700;
    font-size: 98%;
    letter-spacing: 1.2px;
    color: #493300;
    margin-left:4%; 
    
  }
  .marqueeArea .left .marqueeBackBox h5 {
    font-weight: 400;
    font-size: 50%;
    letter-spacing: 1px;
    color: #493300;
    margin-left:8%;
    margin-top:1%;
    
  }
  
  .marqueeArea .left .marqueeBackBox .marTitle {
    margin-bottom:1.5%;
   
  }
  
  .marqueeArea .left .marqueeBackBox .marTitle h2 {
    margin-left:5%;
    display: inline-block;
    margin-top:6%;  
    font-size: 95%;
    font-weight: 900;
    letter-spacing:5px;
    color: #493300;
  }
  
  .marqueeArea .left .marqueeBackBox .num {
    font-size:110%;
    letter-spacing: 0px;
    margin-right: 5px;
    margin-top:5px;
    color: #000;
  }
  .marqueeArea .left .marqueeBackBox .unit{
    font-size: 65%;
    letter-spacing: 0px;
    margin-right: 5px;
    margin-top:5px;
    color: #000;
  }

}

@media (max-width: 780px) {
  .marqueeArea {
    margin-top: 0;
    background-size:cover;
  }
  .marqueeArea .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .marqueeArea .left {
    width: 100%;
    margin: 0;
  }
  .marqueeArea .right {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .marqueeArea {
    margin-top: 0;
    background-size:cover;
  }
  .marqueeArea .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .marqueeArea .left {
    width: 100%;
    margin: 0;
  }
  .marqueeArea .right {
    width: 100%;
    margin: 0 auto;
  }
  .marqueeArea .left .marqueeBackBox .num {
    font-size: 26px;
    letter-spacing: 0px;
    margin-right: 5px;
    margin-top:5px;
    color: #000;
  }

}

@media (max-width: 480px) {
 #app.TodayPrice2 {
    //background-size:cover;
    //background-image: url('../assets/mobil6.png');
    /* background: url('../assets/section02.png') no-repeat center; */
    //height:800px ;
    height: auto;
    width: auto;
    overflow: hidden;
    font-size: 105%;
  }

  .marqueeArea {
    margin-top: 0%;
   
  }
  .marqueeArea .left {
    margin-top: 30%;
    height: auto;
    background-size: cover;
    margin-left: 5%;
  }
  .marqueeArea .left .marqueeBackBox {
     text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .marqueeArea .left .marqueeBackBox .marTitle h2 {
    margin-left:4%;
    display: inline-block;
    margin-top:6%;  
    margin-bottom:8%;  
    font-size: 96%;
    font-weight: 860;
    letter-spacing:4px;
    color: #493300;
   
  }

  .marqueeArea .left .marqueeBackBox li:first-child {
    padding-left: 5%;
  }
  .marqueeArea .left .marqueeBackBox li {
    padding: 0;
    
    
  }
  .marqueeArea .left .marqueeBackBox li:not(:first-child) {
    margin-left: 30px;
    margin-bottom: 60px;
   
  } 
  .marqueeArea .left .marqueeBackBox .moreBtn button{
    position: relative;
    //bottom: 40px;
    margin-bottom:20%;    
    margin-left:16%;
    display: inline-block;
    font-weight: 400;
    color: #875f3b;
    background-color: #886104; /* Green */
  border: none;
  color: white;
  padding: 6px 15px;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family:'Noto Sans TC',Sans-Serif;
  }
  
}
