<template>
<div id="main-container">
  <main id="main" class="site-main hfeed">
    <div class="ct-container-full">
      <article id="post-2" class="post-2 page type-page status-publish hentry">
        <div class="blocksy-woo-messages-default woocommerce-notices-wrapper">
          <div class="woocommerce"></div>
        </div>
        <div class="entry-content">
          <div class="wp-block-stackable-columns alignfull stk-block-columns stk-block stk-12d507f stk-block-background stk--has-background-overlay">
            <div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-12d507f-column">
              <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-1fe727c">
                <div class="stk-column-wrapper stk-block-column__content stk-container stk-container--has-child-column-flex-polyfill stk-container--has-child-column-flex-polyfill stk-1fe727c-container stk--no-background stk--no-padding">
                  <div class="stk-block-content stk-inner-blocks stk-1fe727c-inner-blocks">
                    <div class="wp-block-stackable-columns stk-block-columns stk-block stk-8ccf4cd">
                      <div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-8ccf4cd-column">
                        <div class="wp-block-stackable-column stk-block-column stk-column stk-block">
                          <div class="stk-column-wrapper stk-block-column__content stk-container stk-container--has-child-column-flex-polyfill stk-container--has-child-column-flex-polyfill-container stk--no-background stk--no-padding">
                            <div class="stk--column-flex stk-block-content stk-inner-blocks-inner-blocks">
                              <div class="wp-block-stackable-heading stk-block-heading stk-block-heading--v2 stk-block stk-8744c1b" id="jh-gold-創新高科技黃金商品-br-全台最頂級黃金回收專屬私人服務">
                                <h2 class="stk-block-heading__text">JH Gold 創新高科技黃金商品
                                  <br>全台最頂級黃金回收專屬私人服務</h2></div>
                              <div class="wp-block-stackable-button-group stk-block-button-group stk-block stk-e6d4ae5">
                                <div class="stk-row stk-inner-blocks stk-block-content stk-button-group">
                                  <div class="wp-block-stackable-button stk-block-button stk-block stk-cb43ccf">
                                    <a class="stk-link stk-button stk--hover-effect-darken" href="https://line.me/R/ti/p/@jh-gold" target="_blank" rel="noreferrer noopener">
                                      <span class="has-text-color stk-button__inner-text">立即預約</span></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-bdfb7c9" data-v="4" data-block-id="bdfb7c9">
                          <div class="stk-column-wrapper stk-block-column__content stk-container stk-bdfb7c9-container stk--no-background stk--no-padding">
                            <div class="stk-block-content stk-inner-blocks stk-bdfb7c9-inner-blocks"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wp-block-stackable-columns alignfull stk-block-columns stk-block stk-f4d577f" data-block-id="f4d577f">
            <div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-f4d577f-column">
              <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-66df443" data-v="4" data-block-id="66df443">
                <div class="stk-column-wrapper stk-block-column__content stk-container stk-container--has-child-column-flex-polyfill stk-container--has-child-column-flex-polyfill stk-66df443-container stk--no-background stk--no-padding">
                  <div class="stk-block-content stk-inner-blocks stk-66df443-inner-blocks">
                    <div class="wp-block-stackable-columns stk-block-columns stk-block stk-62f51b2" data-block-id="62f51b2">
                      <div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-62f51b2-column">
                        <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-c5a508e" data-v="4" data-block-id="c5a508e">
                          <div class="stk-column-wrapper stk-block-column__content stk-container stk-container--has-child-column-flex-polyfill stk-container--has-child-column-flex-polyfill stk-c5a508e-container stk--no-background stk--no-padding">
                            <div class="stk--column-flex stk-block-content stk-inner-blocks stk-c5a508e-inner-blocks">
                              <div class="wp-block-stackable-heading stk-block-heading stk-block-heading--v2 stk-block stk-63272cb" id="關於我們" data-block-id="63272cb">
                                <h2 class="stk-block-heading__text has-text-color">關於我們</h2></div>
                              <div class="wp-block-stackable-text stk-block-text stk-block stk-c55299c" data-block-id="c55299c">
                                <p class="stk-block-text__text has-text-color">JH Gold 嘉恆創新科技貴金屬有限公司（JIA-HENG Precious CO.,LTD.）創立於 2023 年，我們結合了貴金屬與創新科技的應用。以傳統的精湛金銀加工工藝結合創新科技 3D 虛擬實境（VR）技術製作、展示商品。</p></div>
                              <div class="wp-block-stackable-text stk-block-text stk-block stk-bf04ea6" data-block-id="bf04ea6">
                                <p class="stk-block-text__text has-text-color">全台首創使用區塊鏈（Blockchain）技術以加密貨幣（Crypto）作為支付貨款的管道之一。不論是在實體（門市、專業人員、匠工）或是虛擬（虛擬實境、AI 智能、線上商成、新興支付）兩者兼備，致力於高品質的服務、高科技的享受。</p></div>
                            </div>
                          </div>
                        </div>
                        <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-1f6538a" data-v="4" data-block-id="1f6538a">
                          <div class="stk-column-wrapper stk-block-column__content stk-container stk-1f6538a-container stk--no-background stk--no-padding">
                            <div class="stk-block-content stk-inner-blocks stk-1f6538a-inner-blocks">
                              <div class="wp-block-stackable-image stk-block-image stk-block stk-3bfbf21" data-block-id="3bfbf21">
                                <figure class="stk-img-wrapper stk-image--shape-stretch">
                                  <img /> </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wp-block-stackable-columns stk-block-columns stk-block stk-e800a68">
            <div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-e800a68-column">
              <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-7329456 stk-block-background stk--has-background-overlay">
                <div class="stk-column-wrapper stk-block-column__content stk-container stk-container--has-child-column-flex-polyfill stk-7329456-container stk--no-background stk--no-padding">
                  <div class="stk-block-content stk-inner-blocks stk-7329456-inner-blocks">
                    <div class="wp-block-stackable-button-group stk-block-button-group stk-block stk-ee49caf" data-block-id="ee49caf">
                      <div class="stk-row stk-inner-blocks has-text-align-center stk-block-content stk-button-group">
                        <div class="wp-block-stackable-button stk-block-button stk-block stk-c83a6f6" data-block-id="c83a6f6">
                          <a class="stk-link stk-button stk--hover-effect-darken" href="https://jh-gold.com/faq/">
                            <span class="has-text-color stk-button__inner-text">立即預約</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-789327f" data-v="4" data-block-id="789327f">
                <div class="stk-column-wrapper stk-block-column__content stk-container stk-container--has-child-column-flex-polyfill stk-789327f-container stk--no-background stk--no-padding">
                  <div class="stk--column-flex stk-block-content stk-inner-blocks stk-789327f-inner-blocks">
                    <div id="gspb_container-id-gsbp-1fae26f4-6bd1" class="gspb_container gspb_container-gsbp-1fae26f4-6bd1 wp-block-greenshift-blocks-container">
                      <h2 id="gspb_heading-id-gsbp-38bc7492-ee55" class="gspb_heading gspb_heading-id-gsbp-38bc7492-ee55 ">專屬頂級私人服務</h2>
                      <div id="gspb_image-id-gsbp-9e2cef4b-b7d9" class="gspb_image gspb_image-id-gsbp-9e2cef4b-b7d9 wp-block-greenshift-blocks-image">
                        <img width="90" height="90" decoding="async" loading="lazy" src="" data-src="" alt="6. 專屬頂級私人服務圖示"></div>
                    </div>
                    <div class="wp-block-stackable-text stk-block-text stk-block stk-e643f3f" data-block-id="e643f3f">
                      <p class="stk-block-text__text has-text-color">提供虛實整合服務，只要您預約，JH-GOLD 提供全台到府服務，不論是購買或是黃金回收，預約很快當天到府上為您服務。</p></div>
                    <div class="wp-block-stackable-text stk-block-text stk-block stk-8d464c8" data-block-id="8d464c8">
                      <p class="stk-block-text__text has-text-color">↖了解詳情</p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="wp-block-stackable-columns stk-block-columns stk-block stk-43daa85" data-block-id="43daa85">
            <div class="stk-row stk-inner-blocks stk-block-content stk-content-align stk-43daa85-column">
              <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-4811b8d" data-v="4" data-block-id="4811b8d">
                <div class="stk-column-wrapper stk-block-column__content stk-container stk-container--has-child-column-flex-polyfill stk-container--has-child-column-flex-polyfill stk-4811b8d-container stk--no-background stk--no-padding">
                  <div class="stk--column-flex stk-block-content stk-inner-blocks stk-4811b8d-inner-blocks">
                    <h4 id="gspb_heading-id-gsbp-0864e65b-e83d" class="gspb_heading gspb_heading-id-gsbp-0864e65b-e83d ">線上購物</h4>
                    <div id="gspb_container-id-gsbp-086d4b7c-6b09" class="gspb_container gspb_container-gsbp-086d4b7c-6b09 wp-block-greenshift-blocks-container">
                      <h2 id="gspb_heading-id-gsbp-dc045bdb-ebd7" class="gspb_heading gspb_heading-id-gsbp-dc045bdb-ebd7 ">獨特黃金商品購買</h2>
                      <div id="gspb_image-id-gsbp-a678d44c-9b8a" class="gspb_image gspb_image-id-gsbp-a678d44c-9b8a wp-block-greenshift-blocks-image">
                        <img width="90" height="90" decoding="async" loading="lazy" src="" data-src="" alt="7. 線上購物圖示"></div>
                    </div>
                    <div class="wp-block-stackable-text stk-block-text stk-block stk-c5f9e86" data-block-id="c5f9e86">
                      <p class="stk-block-text__text has-text-color">以精湛的傅統工藝結合創新科技虛擬實境，為客戶提供客製化商品，將每位客戶不同的想法、創意透過 3D 虛擬展示並打造成精美的成品。</p></div>
                  </div>
                </div>
              </div>
              <div class="wp-block-stackable-column stk-block-column stk-column stk-block stk-635678c stk-block-background stk--has-background-overlay">
                <div class="stk-column-wrapper stk-block-column__content stk-container stk-635678c-container stk--no-background stk--no-padding">
                  <div class="stk-block-content stk-inner-blocks stk-635678c-inner-blocks">
                    <div class="wp-block-stackable-button-group stk-block-button-group stk-block stk-28e41a1">
                      <div class="stk-row stk-inner-blocks has-text-align-center stk-block-content stk-button-group">
                        <div class="wp-block-stackable-button stk-block-button stk-block stk-4e0c1c1">
                          <a class="stk-link stk-button stk--hover-effect-darken" href="https://jh-gold.com/shop/">
                            <span class="has-text-color stk-button__inner-text">開始購物</span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </main>
</div>
</template>
