<template>
  <div id="NationalPrice" class="marqueeArea" :style="{height:nHeight+'px'}">
<div class="wrap b-box clearfix">
  <div class="left">
    <div class="marqueeBackBox">
      <div class="marTitle">       
        <h2 class="todaytitle">當地黃金行情報價</h2>
      </div>
      <ul class="clearfix" >
        <li >
          <div class="item">
            <h3>日 本</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;"></p>
              <span class="num">{{japanp}}</span><p class="unit">(JPY/每克)</p></div>
        </li>      
        <li >
          <div class="item">
            <h3>新加坡</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;"></p>
              <span class="num">  {{singaporep}}</span><p class="unit">(SGD/每克)</p></div>
        </li>
        <li >
          <div class="item">
            <h3>菲律賓</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;"></p>
              <span class="num">{{philipingp}}</span><p class="unit">(PHP/每克)</p></div>
        </li>
        <li>
          <div class="item">
            <h3>越  南</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;"></p>
              <span class="num">{{vietnamp}}</span><p class="unit">(VND/每克)</p></div>
        </li>
        <li >
          <div class="item">
            <h3>泰  國</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;"></p>
              <span class="num">{{thailandp}}</span><p class="unit">(THB/每克)</p></div>
        </li>
        <li >
          <div class="item">
            <h3>台  灣</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;"></p>
              <span class="num">{{taiwanAsp}}</span><p class="unit">(TWN/每克)</p></div>
        </li>
      </ul>
      <h2 class="todaytitle">當地黃金轉換成本計價</h2>
      <div class="">
       
      
      
     </div>	
    
    </div>
      
  </div>
  
</div>

  </div>
</template>

<style lang="scss">

</style>

<script>
const Week = ["日","一","二","三","四","五","六"]
import '@/styles/nationalprice.scss';
import store from 'src/store';
export default {
  name: 'nationalPrice',
  data() {
    return {

      state: this.$store.state,
      timerID: '',				// 倒數計時
      year: '',
      month: '',
      date: '',
      hour: '',
      mins: '',
      week1: '',
      sec1: '',	// @@
      // nHeight: 0,	// NG!!
      // nHeight: undefined,	// ok
      nHeight: window.innerHeight,
    };
  },
  computed: {
    gData() {
			return this.state.gData
    },
    nationalGoldBuy(){return this.state.nationalGoldBuy},
		// 條塊-買入
    buy1() {
			return this.gData.buy1
    },
		// 飾金-買入
    buy2() {
			return this.gData.buy2
    },
		// 條塊-賣出
    sell1() {
			return this.gData.sell1
    },
		// 飾金-賣出
    sell2() {
			return this.gData.sell2
    },
    time1() {
			// return `${this.hour}:${this.mins}`
			return `${this.hour}:${this.mins}:${this.sec1}`
    },
    japanp(){
			return this.nationalGoldBuy.japanp.toFixed(0)
    },
    singaporep(){
			return this.nationalGoldBuy.singaporep.toFixed(4)
    },
    philipingp(){
			return this.nationalGoldBuy.philipingp.toFixed(2)
    },
    vietnamp(){
			return this.nationalGoldBuy.vietnamp.toFixed(0)
    },
    thailandp(){
			return this.nationalGoldBuy.thailandp.toFixed(2)
    },
    taiwanAsp(){
			return this.nationalGoldBuy.taiwanAsp
    },
  },
  methods: {
    handleResize() {
      this.nHeight = window.innerHeight
			// console.warn('handleResize: ', this.nHeight);	// @@
    },
    updateTime(){
			var cd = new Date();
      this.year = zeroPadding(cd.getFullYear(), 4)
      this.month = zeroPadding(cd.getMonth() + 1, 2)
      this.date = zeroPadding(cd.getDate(), 2)
    },
  },
  mounted() {
    window.addEventListener('resize', this.handleResize)
    this.updateTime();
  },
  created() {
		document.getElementById('app').className = 'nationalPrice';
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
		document.getElementById('app').className = '';
  },
  async beforeRouteEnter(to, from, next) {
		await store.dispatch('fetchAllData')
		// console.warn('fetchAllData-gData: ', store.state.gData);	// @@
		next()
  },
};

function zeroPadding(num, digit) {
	var zero = '';
	for (var i = 0; i < digit; i++) {
		zero += '0';
	}
	return (zero + num).slice(-digit);
}


</script>