<template>
  <div id="TodayPrice2" class="marqueeArea" :style="{height:nHeight+'px'}">
<div class="wrap b-box clearfix">
  <div class="left">
    <div class="marqueeBackBox">
      <div class="marTitle">       
        <h2 class="todaytitle">今日黃金優質收購價</h2>
      </div>
      <ul class="clearfix" id="marqueeTxtBack">
        <li>
          <div class="item">
            <h3>金 條</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;"></p>
              <span class="num">{{buy1}}</span><p class="unit">(元/每錢)</p></div>
        </li>      
        <li>
          <div class="item">
            <h3>飾 金</h3>
            <p class="ellipsis" style="overflow-wrap: break-word;"></p>
              <span class="num">{{buy2}}</span><p class="unit">(元/每錢)</p></div>
        </li>
      </ul>
      <a href="https://line.me/R/ti/p/@jh-gold" class="moreBtn" target="_blank"><button>官方LINE諮詢&raquo&raquo</button></a>
      <div class="">
       
       <h4>JH Gold 創新高科技黃金商品</h4>
       <h5>&#x2665 全台最頂級黃金收購專屬私人服務</h5>
       <h5>&#x2665 精密儀器鑑定、證書檢核系統服務</h5>
      
     </div>	
    
    </div>
      
  </div>
  
</div>

  </div>
</template>

<style lang="scss">

</style>

<script>
const Week = ["日","一","二","三","四","五","六"]
import '@/styles/home.scss';
import store from 'src/store';
export default {
  name: 'TodayPrice2',
  data() {
    return {
      state: this.$store.state,
      timerID: '',				// 倒數計時
      year: '',
      month: '',
      date: '',
      hour: '',
      mins: '',
      week1: '',
      sec1: '',	// @@
      // nHeight: 0,	// NG!!
      // nHeight: undefined,	// ok
      nHeight: window.innerHeight,
    };
  },
  computed: {
    gData() {
			return this.state.gData
    },
		// 條塊-買入
    buy1() {
			return this.gData.buy1
    },
		// 飾金-買入
    buy2() {
			return this.gData.buy2
    },
		// 條塊-賣出
    sell1() {
			return this.gData.sell1
    },
		// 飾金-賣出
    sell2() {
			return this.gData.sell2
    },
    time1() {
			// return `${this.hour}:${this.mins}`
			return `${this.hour}:${this.mins}:${this.sec1}`
    },
  },
  methods: {
    handleResize() {
      this.nHeight = window.innerHeight
			// console.warn('handleResize: ', this.nHeight);	// @@
    },
    updateTime(){
			var cd = new Date();
      this.year = zeroPadding(cd.getFullYear(), 4)
      this.month = zeroPadding(cd.getMonth() + 1, 2)
      this.date = zeroPadding(cd.getDate(), 2)
    },
  },
  mounted() {
    window.addEventListener('resize', this.handleResize)
    this.updateTime();
  },
  created() {
		document.getElementById('app').className = 'TodayPrice2';
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize)
		document.getElementById('app').className = '';
  },
  async beforeRouteEnter(to, from, next) {
		await store.dispatch('fetchAllData')
		// console.warn('fetchAllData-gData: ', store.state.gData);	// @@

		next()
  },
};

function zeroPadding(num, digit) {
	var zero = '';
	for (var i = 0; i < digit; i++) {
		zero += '0';
	}
	return (zero + num).slice(-digit);
}
</script>