<template>
  <!-- 試算說明文字 -->
  <div id="TodayPrice" :style="{height:nHeight+'px'}">
  <!-- <div id="TodayPrice"> -->
    <!-- <div class="topHeader">2023年10月15日星期日時間14:30</div> -->
    <div class="topHeader">
			<span class="red">{{year}}</span> 年
			<span class="red">{{month}}</span> 月
			<span class="red">{{date}}</span> 日
			<span class="blank1">星期</span>
			<span class="red">{{week1}}</span>
			<span class="blank1">時間</span>
			<span class="red">{{time1}}</span>
		</div>

		<section class="BakImg">
			<!-- <img src="@/assets/TodayPrice.jpg" class="img-fluid"> -->
			<h1>今 日 金 價</h1>
			<div class="flex">
				<div>
					<div class="inptitle">條塊</div>
					<div class="dipwarp">
						<div class="content">賣出<span class="red">{{sell1}}</span></div>
					</div>
					<div class="dipwarp">
						<div class="content">買入<span class="red">{{buy1}}</span></div>
						<div class="remark">(重量單位:錢)</div>
					</div>
				</div>
				<div>
					<div class="inptitle">飾金</div>
					<div class="dipwarp">
						<div class="content">賣出<span class="red">{{sell2}}</span></div>
					</div>
					<div class="dipwarp">
						<div class="content">買入<span class="red">{{buy2}}</span></div>
						<div class="remark">(重量單位:錢)</div>
					</div>
				</div>
			</div>
		</section>
  </div>
</template>

<style lang="scss">

</style>

<script>
import store from 'src/store'

const Week = ["日","一","二","三","四","五","六"]

export default {
  name: 'TodayPrice',
  data() {
    return {
      state: this.$store.state,
      timerID: '',				// 倒數計時
      year: '',
      month: '',
      date: '',
      hour: '',
      mins: '',
      week1: '',
      sec1: '',	// @@
      // nHeight: 0,	// NG!!
      // nHeight: undefined,	// ok
      nHeight: window.innerHeight,
    };
  },
  computed: {
    gData() {
			return this.state.gData
    },
		// 條塊-買入
    buy1() {
			return this.gData.buy1
    },
		// 飾金-買入
    buy2() {
			return this.gData.buy2
    },
		// 條塊-賣出
    sell1() {
			return this.gData.sell1
    },
		// 飾金-賣出
    sell2() {
			return this.gData.sell2
    },
    time1() {
			// return `${this.hour}:${this.mins}`
			return `${this.hour}:${this.mins}:${this.sec1}`
    },
  },
  methods: {
    updateTime(){
			var cd = new Date();

      this.year = zeroPadding(cd.getFullYear(), 4)
      this.month = zeroPadding(cd.getMonth() + 1, 2)
      this.date = zeroPadding(cd.getDate(), 2)
      this.hour = zeroPadding(cd.getHours(), 2)
      this.mins = zeroPadding(cd.getMinutes(), 2)
      this.sec1 = zeroPadding(cd.getSeconds(), 2)	// @@
      this.week1 = Week[cd.getDay()]
    },
		/* 啟動計時 */
    goRunTimer(){
			this.timerID = setInterval(this.updateTime, 1000);
    },
    handleResize() {
      this.nHeight = window.innerHeight
			// console.warn('handleResize: ', this.nHeight);	// @@
    },
  },
  mounted() {
    window.addEventListener('resize', this.handleResize)
    this.goRunTimer();
  },
  // created() {
  // },
  beforeDestroy() {
		clearInterval(this.timerID)
    window.removeEventListener('resize', this.handleResize)
  },
	/* 只有第1次進入才來 */
  async beforeRouteEnter(to, from, next) {
		await store.dispatch('fetchAllData')
		// console.warn('fetchAllData-gData: ', store.state.gData);	// @@

		next()
  },
};

function zeroPadding(num, digit) {
	var zero = '';
	for (var i = 0; i < digit; i++) {
		zero += '0';
	}
	return (zero + num).slice(-digit);
}
</script>