<template>
  <section id="UpdatePrice">
		<header>
			<router-link class="btn1" to="/">返回</router-link>
		</header>

    <div class="inpWrap">
      <div class="update-col">
        <label for="bullionPrice">黄金條塊-買入：</label>
        <input id="bullionPrice" type="number" v-model="form.buy1" />
      </div>
      <div class="update-col">
        <label for="goldpriceBS">黄金條塊-賣出：</label>
        <input id="goldpriceBS" type="number" v-model="form.sell1" />
      </div>
      <div class="update-col">
        <label for="goldPrice">飾金-買入：</label>
        <input id="goldPrice" type="number" v-model="form.buy2" />
      </div>
      <div class="update-col">
        <label for="goldpriceS" @click="showVer = !showVer">飾金-賣出：</label>
        <input id="goldpriceS" type="number" v-model="form.sell2" />
      </div>
      <div class="update-col">
        <label for="uRate">匯率：</label>
        <input id="uRate" type="number" v-model="form.usprice" />
      </div>
      <div class="update-col">
        <label for="key">鑰匙：</label>
        <input id="key" type="password" v-model="form.key" />
      </div>
      <!-- submit -->
      <button @click="validataSubmit" class="btn1">送出</button>
    </div>

		<footer v-if="showVer">
			<p class="version">version: <span class="red">{{ version }}</span></p>
		</footer>
  </section>
</template>

<script>
import store from 'src/store'
import { AjaxAct } from '@/utils/ajax1'

export default {
  name: 'updatePrice',
  data() {
    return {
      state: this.$store.state,
      form: {},
			version: '20231026-01',
			showVer: false,
    };
  },
  computed: {
    gData() {
			return this.state.gData
    },
  },
  methods: {
    resetForm() {
			this.form = this.gData
			this.form.key = ''
			console.warn('resetForm-form: ', this.form);	// @@
    },
    validataSubmit() {
      if (!this.form.key) {
        alert('請輸入鑰匙密碼');
        return;
      }

      this.setNewPrice();
    },

    // call API修改
    async setNewPrice(){
			// const {usprice,buy1,sell1,buy2,sell2} = this.form
			const one = ToStr(this.form)
			const {usprice,buy1,sell1,buy2,sell2,key} = one
			// console.warn('API修改-one: ', one);	// @@
			const params = {
				usprice: usprice,
				goldpriceB: buy1,
				goldpriceBS: sell1,
				goldprice: buy2,
				goldpriceS: sell2,
				key: key,
			}
			let a1 = await AjaxAct("priceset", params)
			console.warn('API修改-setNewPrice: ', a1);	// @@
// return false;	// @@
			if (a1) {
				alert('OK');
				this.$router.push({ path: '/' });
			}

/* 
      axios
        .post(revisePriceApi, {
          usprice: this.newUsdtRate.toString(),
          goldprice: this.newGoldPrice.toString(),
          goldpriceB: this.newBullionPrice.toString(),
          key: this.key.toString(),
        })
        .then((response) => {
          alert('OK');
          this.$router.push({ path: '/' });
        })
        .catch((error) => {
          console.log(error);
          alert('失敗');
        });
 */
    },
  },
  created() {
		console.log('Version:', this.version);
		this.resetForm()
  },
	/* 只有第1次進入才來 */
  async beforeRouteEnter(to, from, next) {
		await store.dispatch('fetchAllData')
		next()
  },
};

function ToStr(obj1) {
	let one  = Object.assign({}, obj1)
	// console.log('toStr-one: ', one);	// @@
	for ( var x in one ) { one[x] = one[x].toString(); }
	return one
}
</script>