<template>
  <footer id="footer" class="ct-footer" data-id="type-1" itemscope="" itemtype="https://schema.org/WPFooter">
    <div data-row="top">
      <div class="ct-container">
        <div data-column="logo">
          <div class="site-branding" data-id="logo" itemscope="itemscope" itemtype="https://schema.org/Organization">
            <a href="https://jh-gold.com/" class="site-logo-container" rel="home">
              <img width="1977" height="1977" src="./JH Gold_files/favicon.svg" class="default-logo" alt="Favicon"></a>
          </div>
        </div>
        <div data-column="socials">
          <div class="ct-footer-socials" data-id="socials">
            <div class="ct-social-box" data-icon-size="custom" data-color="custom" data-icons-type="rounded:solid">
              <a href="https://www.facebook.com/JHHHGold" data-network="facebook" aria-label="Facebook" rel="noopener">
                <span class="ct-icon-container">
                  <svg width="20px" height="20px" viewBox="0 0 20 20" aria-hidden="true">
                    <path d="M20,10.1c0-5.5-4.5-10-10-10S0,4.5,0,10.1c0,5,3.7,9.1,8.4,9.9v-7H5.9v-2.9h2.5V7.9C8.4,5.4,9.9,4,12.2,4c1.1,0,2.2,0.2,2.2,0.2v2.5h-1.3c-1.2,0-1.6,0.8-1.6,1.6v1.9h2.8L13.9,13h-2.3v7C16.3,19.2,20,15.1,20,10.1z"></path>
                  </svg>
                </span>
              </a>
              <a href="mailto:service@jh-gold.com" data-network="email" aria-label="電子郵件" rel="noopener">
                <span class="ct-icon-container">
                  <svg width="20" height="20" viewBox="0 0 20 20" aria-hidden="true">
                    <path d="M10,10.1L0,4.7C0.1,3.2,1.4,2,3,2h14c1.6,0,2.9,1.2,3,2.8L10,10.1z M10,11.8c-0.1,0-0.2,0-0.4-0.1L0,6.4V15c0,1.7,1.3,3,3,3h4.9h4.3H17c1.7,0,3-1.3,3-3V6.4l-9.6,5.2C10.2,11.7,10.1,11.7,10,11.8z"></path>
                  </svg>
                </span>
              </a>
              <a href="https://line.me/R/ti/p/@jh-gold" data-network="line" aria-label="Line" rel="noopener">
                <span class="ct-icon-container">
                  <svg width="20px" height="20px" viewBox="0 0 20 20" aria-hidden="true">
                    <path d="M16.1 8.2c.3 0 .5.2.5.5s-.2.5-.5.5h-1.5v.9h1.5c.3 0 .5.2.5.5s-.2.5-.5.5h-2c-.3 0-.5-.2-.5-.5v-4c0-.3.2-.5.5-.5h2c.3 0 .5.2.5.5s-.2.5-.5.5h-1.5V8h1.5zm-3.2 2.5c0 .2-.1.4-.4.5h-.2c-.2 0-.3-.1-.4-.2l-2-2.8v2.5c0 .3-.2.5-.5.5s-.5-.2-.5-.5v-4c0-.2.1-.4.4-.5h.2c.2 0 .3.1.4.2L12 9.2V6.8c0-.3.2-.5.5-.5s.5.2.5.5v3.9zm-4.8 0c0 .3-.2.5-.5.5s-.5-.2-.5-.5v-4c0-.3.2-.5.5-.5s.5.2.5.5v4zm-2 .6h-2c-.3 0-.5-.2-.5-.5v-4c0-.3.2-.5.5-.5s.5.2.5.5v3.5h1.5c.3 0 .5.2.5.5 0 .2-.2.5-.5.5M20 8.6C20 4.1 15.5.5 10 .5S0 4.1 0 8.6c0 4 3.6 7.4 8.4 8 .3.1.8.2.9.5.1.3.1.6 0 .9l-.1.9c0 .3-.2 1 .9.5 1.1-.4 5.8-3.4 7.9-5.8 1.3-1.6 2-3.2 2-5"></path>
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div data-column="ghost"></div>
      </div>
    </div>
    <div data-row="middle">
      <div class="ct-container">
        <div data-column="ghost"></div>
        <div data-column="widget-area-1">
          <div class="ct-widget widget_block" id="block-13">
            <div class="wp-block-stackable-text stk-block-text stk-block stk-57df38d" data-block-id="57df38d">
              <style>.stk-57df38d{margin-bottom:0px !important}.stk-57df38d .stk-block-text__text{color:var(--paletteColor8,#ffffff) !important}</style>
              <p class="stk-block-text__text has-text-color has-text-align-center">電話：
                <a rel="noreferrer noopener" href="tel:077168899" data-type="tel" data-id="tel:077168899" target="_blank">
                  <span style="color: var(--paletteColor8, #ffffff);" class="stk-highlight">07-716-8899</span></a>
                <br>地址：高雄市前鎮區英明路11號
                <br>營業時間：09:00 ~ 18:30</p></div>
          </div>
        </div>
        <div data-column="ghost"></div>
      </div>
    </div>
    <div data-row="bottom">
      <div class="ct-container" data-columns-divider="md:sm">
        <div data-column="copyright">
          <div class="ct-footer-copyright" data-id="copyright">
            <p>Copyright © 2023 嘉恆創新科技貴金屬有限公司 保留一切權利。｜本網站由
              <a href="https://sc-icg.com/" target="_blank" rel="noopener">
                <strong>快找整合顧問</strong></a>建置維護。</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</template>

<style lang="scss" scoped>

</style>


<script>
// export default {
  // data: function(){
    // return {
      // // state: this.$store.state,
    // };
  // },
  // // created() {
		// // console.warn('Footer1Footer1');	// @@
  // // },

// }
</script>