<template>
  <header id="header" class="ct-header" data-id="type-1" itemscope="" itemtype="https://schema.org/WPHeader">
    <div data-device="desktop">
      <div class="ct-sticky-container" style="height: 110px;">
        <div data-sticky="slide">
          <div data-row="middle" data-column-set="2">
            <div class="ct-container-fluid">
              <div data-column="start" data-placements="1">
                <div data-items="primary">
                  <div class="site-branding" data-id="logo" itemscope="itemscope" itemtype="https://schema.org/Organization">
                    <a href="https://jh-gold.com/" class="site-logo-container" rel="home">
                      <img width="2500" height="530" src="./JH Gold_files/嘉恆創新科技貴金屬有限公司LOGO.webp" class="default-logo" alt="嘉恆創新科技貴金屬有限公司logo"></a>
                  </div>
                  <nav id="header-menu-1" class="header-menu-1" data-id="menu" data-interaction="hover" data-menu="type-2:center" data-dropdown="type-1:simple" data-responsive="yes" itemscope="" itemtype="https://schema.org/SiteNavigationElement" aria-label="頁首選單">
                    <ul id="menu-primary-menu" class="menu" role="menubar">
                      <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34">
                        <a href="https://jh-gold.com/about/" class="ct-menu-link" role="menuitem">關於我們</a></li>
                      <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32">
                        <a href="https://jh-gold.com/service/" class="ct-menu-link" role="menuitem">服務項目</a></li>
                      <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33">
                        <a href="https://jh-gold.com/shop/" class="ct-menu-link" role="menuitem">線上商城</a></li>
                      <li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-35">
                        <a target="_blank" rel="noopener" href="https://conversion.jh-gold.com/#/" class="ct-menu-link" role="menuitem">金價試算</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div data-column="end" data-placements="1">
                <div data-items="primary">
                  <div class="ct-header-cta" data-id="button">
                    <a href="https://jh-gold.com/faq/" class="ct-button" data-size="medium" aria-label="客服中心">
                      <svg class="ct-icon" width="20" height="20" viewBox="0,0,512,512">
                        <path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"></path>
                      </svg>客服中心</a>
                  </div>
                  <div class="ct-header-cta" data-id="gITfQv">
                    <a href="https://line.me/R/ti/p/@jh-gold" class="ct-button" data-size="medium" aria-label="LINE聯絡" target="_blank" rel="noopener noreferrer">
                      <svg class="ct-icon" width="20" height="20" viewBox="0,0,448,512">
                        <path d="M272.1 204.2v71.1c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.1 0-2.1-.6-2.6-1.3l-32.6-44v42.2c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.8 0-3.2-1.4-3.2-3.2v-71.1c0-1.8 1.4-3.2 3.2-3.2H219c1 0 2.1.5 2.6 1.4l32.6 44v-42.2c0-1.8 1.4-3.2 3.2-3.2h11.4c1.8-.1 3.3 1.4 3.3 3.1zm-82-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 1.8 1.4 3.2 3.2 3.2h11.4c1.8 0 3.2-1.4 3.2-3.2v-71.1c0-1.7-1.4-3.2-3.2-3.2zm-27.5 59.6h-31.1v-56.4c0-1.8-1.4-3.2-3.2-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 .9.3 1.6.9 2.2.6.5 1.3.9 2.2.9h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.7-1.4-3.2-3.1-3.2zM332.1 201h-45.7c-1.7 0-3.2 1.4-3.2 3.2v71.1c0 1.7 1.4 3.2 3.2 3.2h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2V234c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2v-11.4c-.1-1.7-1.5-3.2-3.2-3.2zM448 113.7V399c-.1 44.8-36.8 81.1-81.7 81H81c-44.8-.1-81.1-36.9-81-81.7V113c.1-44.8 36.9-81.1 81.7-81H367c44.8.1 81.1 36.8 81 81.7zm-61.6 122.6c0-73-73.2-132.4-163.1-132.4-89.9 0-163.1 59.4-163.1 132.4 0 65.4 58 120.2 136.4 130.6 19.1 4.1 16.9 11.1 12.6 36.8-.7 4.1-3.3 16.1 14.1 8.8 17.4-7.3 93.9-55.3 128.2-94.7 23.6-26 34.9-52.3 34.9-81.5z"></path>
                      </svg>LINE聯絡</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-device="mobile">
      <div class="ct-sticky-container">
        <div data-sticky="slide">
          <div data-row="middle" data-column-set="2">
            <div class="ct-container-fluid">
              <div data-column="start" data-placements="1">
                <div data-items="primary">
                  <div class="site-branding" data-id="logo">
                    <a href="https://jh-gold.com/" class="site-logo-container" rel="home">
                      <img width="2500" height="530" src="./JH Gold_files/嘉恆創新科技貴金屬有限公司LOGO.webp" class="default-logo" alt="嘉恆創新科技貴金屬有限公司logo"></a>
                  </div>
                </div>
              </div>
              <div data-column="end" data-placements="1">
                <div data-items="primary">
                  <button data-toggle-panel="#offcanvas" class="ct-header-trigger ct-toggle " data-design="simple" data-label="right" aria-label="開啟滑出式" data-id="trigger">
                    <span class="ct-label ct-hidden-sm ct-hidden-md ct-hidden-lg">選單</span>
                    <svg class="ct-icon" width="18" height="14" viewBox="0 0 18 14" aria-hidden="true" data-type="type-3">
                      <rect y="0.00" width="18" height="1.7" rx="1"></rect>
                      <rect y="6.15" width="18" height="1.7" rx="1"></rect>
                      <rect y="12.3" width="18" height="1.7" rx="1"></rect>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

</template>

<style lang="scss" scoped>

</style>

<script>
import { goto } from '@/fun2.js'

export default {
  data: function(){
    return {
      state: this.$store.state,
      href1: '',		// 記錄滾動之元素id
    };
  },
  computed: {
    isHome() {
			return !this.state.curPage
    },
    hasLogin() {
			return this.state.isLogin
    },
    loginTxt() {
			return '登'+(this.hasLogin ? '出' : '入')
    },
  },
  watch:{
    $route: {
			handler(new1, old) {
				// console.warn('route-new: ', new1);	// @@
				if (new1.name == 'index') {
					// console.error('route-href1: ', this.href1);	// @@
					this.$nextTick( function() {
						this.scrollView(this.href1);
					}) ;
				}
			},
			deep: true
    },
  },
  methods: {
		goto,
    async doLogin() {
			if (this.hasLogin) {
				await this.$store.dispatch('logout')
				this.goto('/')
			} else {
				this.goto('login')
			}
    },
		/* 滾動至位置 */
    goHref(v1) {
			// console.warn('goHref-v1: ', v1);	// @@
			if (!this.isHome) {
				this.href1 = v1
				this.goto('/');

			} else {
				this.scrollView(v1);
			}
    },
    scrollView(v1) {
			if (!v1) { return; }
			document.getElementById(v1).scrollIntoView({ behavior: "smooth", block: 'center' });
    },
  },
  created() {
		console.warn('Header1Header1');	// @@
  },

}
</script>